<!DOCTYPE html>
<html>
    <body>
        <br>

        <h2>Restricted material has been reviewed!</h2>

        <p>
            The following materials were reviewed by {{ decision_maker }}:<br/>

            <strong>{{ archival_reference_code }} - {{ title }}</strong><br/>
            Requested by {{ researcher.last_name }}, {{ researcher.first_name }}
        </p>

        <p>
            And made the following decision: <strong>{{ decision }}</strong>
        </p>

        <p>
            Please continue with the processing of the request.
        </p>

        <p>
            Best,
            Blinken OSA Archivum - AMS
        </p>
    </body>
</html>