<!DOCTYPE html>
<html>
    <body>
        <br>

        <h2>Restricted material has been approved!</h2>

        <p>
            The following materials were approved by {{ decision_maker }}:<br/>

            <strong>{{ archival_reference_code }} - {{ title }}</strong>
        </p>

        <p>
            And made the following decision: <strong>{{ decision }}</strong>
        </p>

        <p>
            Please continue with the processing of the request.
        </p>

        <p>
            Best,
            Blinken OSA Archivum - AMS
        </p>
    </body>
</html>