<!DOCTYPE html>
<html>
    <body>
        <p>Dear {{ researcher.last_name }}, {{ researcher.first_name }},</p>
        <p>
            Blinken OSA Archivum received your request.<br/><br/>
            Our colleagues will start processing your request. You will get a notification email once the items are
            prepared in our Research Room.
        </p>
        <p>
            Here are the details of your request<br/><br/>
            <strong>Planned Visit/Access Date:</strong> {{ request.request_date }}
        </p>

        <h3>The following items were requested:</h3>
        <p>
            <ul>
                {% for item in items %}
                    <li>
                        <strong>Title:</strong> {{ item.title }}<br/>
                        <strong>Call Number:</strong> {{ item.call_number }}<br/>
                        <strong>Origin:</strong> {{ item.origin }}<br/>
                        {% if item.restricted %}
                            (THIS ITEM IS RESTRICTED *)
                        {% endif %}
                    </li>
                    <br/>
                {% endfor %}
            </ul>
        </p>

        {% if has_restricted_content %}
            <p>
                * Serving restricted materials are going through an individual assessment.
                It can take extra time to process your request. We will contact you if we
                need further information to process your request.
            </p>
        {% endif %}

        <p>
            Regards,<br/>
            Blinken OSA Archivum - AMS
        </p>

        <p style="font-size:12px; font-style:italic; color:#555555; margin-top:20px;">
            The Blinken OSA Archivum is not responsible for the violent, sexually explicit, or otherwise disturbing content that may occur in our holdings.
        </p>
    </body>
</html>