<!DOCTYPE html>
<html>
    <body>
        <p>Dear {{ researcher.last_name }}, {{ researcher.first_name }},</p>
        <p>
            Blinken OSA Archivum received your request.<br/><br/>
            The Research Room is closed from December 15, 2025, and will reopen on January 7, 2026.
            Online services (except Digitization on Demand) will continue between December 15 and December 19.
            Between December 20, 2025, and January 6, 2026, when the Research Room is closed and online services
            are unavailable, explore our online collections, or select the "Digitally Anywhere / Without Registration"
            filter when searching the Catalog. If you need help for the latter, consult our Researcher's Guide.
            Our colleagues will start processing your request. You will get a notification email once the items are
            prepared in our Research Room.<br/><br/>
            You will get a notification email once the Archivum reopens next year and your items are prepared in our Research Room.
        </p>
        <p>
            Here are the details of your request<br/><br/>
            <strong>Planned Visit/Access Date:</strong> {{ request.request_date }}
        </p>

        <h3>The following items were requested:</h3>
        <p>
            <ul>
                {% for item in items %}
                    <li>
                        <strong>Title:</strong> {{ item.title }}<br/>
                        <strong>Call Number:</strong> {{ item.call_number }}<br/>
                        <strong>Origin:</strong> {{ item.origin }}<br/>
                        {% if item.restricted %}
                            (THIS ITEM IS RESTRICTED *)
                        {% endif %}
                    </li>
                    <br/>
                {% endfor %}
            </ul>
        </p>

        {% if has_restricted_content %}
            <p>
                * Serving restricted materials are going through an individual assessment.
                It can take extra time to process your request. We will contact you if we
                need further information to process your request.
            </p>
        {% endif %}

        <p>
            Regards,<br/>
            Blinken OSA Archivum - AMS
        </p>
    </body>
</html>