<!DOCTYPE html>
<html>
    <body>
        <br>

        <h2>Access to Requested Archival Materials</h2>

        <p>Dear {{ researcher.first_name }},</p>

        <p>
            Thank you for your interest in our holdings.
            You can access the non-downloadable viewing copy of the requested documents in the following folder:
        </p>

        <p>
            <a href="{{ folder_url }}">{{ folder_url }}</a>
        </p>

        <p>
            (Please note that the verification code email may land in your spam folder.)<br/>
            For audio/video materials, please be aware that a single audio/video file may contain multiple catalog
            items and may not begin with the specific item you requested. You can check the order and duration
            of items in the Catalog. <br/>
            By default, materials remain available in your folder for one month.
            You may request an extension by email at archivum@ceu.edu.
            If you request more than 6 items, the next batch will only be uploaded once you confirm that your folder
            can be emptied.
        </p>

        <p>
            Best regards,<br/>
            Blinken OSA Archivum - AMS
        </p>
    </body>
</html>
