<!DOCTYPE html>
<html>
    <body>
        <br>

        <h2>Your virtual card number!</h2>

        <p>Dear {{ researcher.first_name }},</p>
        <p>
            As requested, you can find your virtual research card number below.<br/>
            You should use this number when you are requesting materials from us.
        </p>

        <h1>
            {{ researcher.card_number }}
        </h1>

        <p>
            Regards,<br/>
            Blinken OSA Archivum - AMS
        </p>
    </body>
</html>