<!DOCTYPE html>
<html>
    <body>
        <br>

        <h2>Registration confirmed!</h2>

        <p>Dear {{ researcher.first_name }},</p>
        <p>
            Blinken OSA Archivum received your registration form!<br/>
            Our colleagues will approve your registration request, after checking your submitted data.</br>
            You will get a notification email with your Virtual Research Card Number after approval!
        </p>

        <p>
            Regards,<br/>
            Blinken OSA Archivum - AMS
        </p>
    </body>
</html>